<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd" >
	
	<bean id="reportService" name="rs" class="com.nit.spring.beans.ReportService">
		<property name="reportGenerator" ref="excel" />
	</bean>
	
	<bean id="pdf" name="pdfGeneretor" class="com.nit.spring.beans.PdfReportGenerator"/>
	
	<bean id="excel" name="excelGeneretor" class="com.nit.spring.beans.ExcelReportGenerator"/>
	
</beans>